<a href="https://colab.research.google.com/github/pan90112910/CS/blob/master/%E3%80%8CPython20201015_4_ipynb%E3%80%8D%E7%9A%84%E5%89%AF%E6%9C%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 20200918

In [ ]:
import pandas as pd
print("pandas version: %s" % pd.__version__)

import matplotlib
print("matplotlib version: %s" % matplotlib.__version__)

import numpy as np
print("numpy version: %s" % np.__version__)

import sklearn
print("scikit-learn version: %s" % sklearn.__version__)

import tensorflow as tf
print("tensorflow version: %s" % tf.__version__)

import torch
print("PyTorch version: %s" %torch.__version__)
print("2020年3月PyTorch version最新版本 是1.4 請參閱https://pytorch.org/")

pandas version: 1.0.5
matplotlib version: 3.2.2
numpy version: 1.18.5
scikit-learn version: 0.22.2.post1
tensorflow version: 2.3.0
PyTorch version: 1.6.0+cu101
2020年3月PyTorch version最新版本 是1.4 請參閱https://pytorch.org/

In [ ]:


x = input('Enter your name:')
print('Hello, ' + x)
a = eval(input("請輸入："))
a



###  使用Python內建的type()函數顯示資料型態

type(a)

Enter your name:X
Hello, X
請輸入：30

int

In [ ]:
b=a+30

b

31

高階練習

In [ ]:
x, y, z = [int(x) for x in input("Enter three value: ").split()] 
print("First Number is: ", x) 
print("Second Number is: ", y) 
print("Third Number is: ", z) 
print()

x, y, z = [int(x) for x in input("Enter three value: ").split(",")] 
print("First Number is: ", x) 
print("Second Number is: ", y) 
print("Third Number is: ", z) 
print()

a, b = input("Enter a two value: ").split() 
print("First number is {} and second number is {}".format(a, b)) 
print()

Enter three value: 80 20 10
First Number is:  80
Second Number is:  20
Third Number is:  10

Enter three value: 8,20,30
First Number is:  8
Second Number is:  20
Third Number is:  30

Enter a two value: 20 10

2-2
[1]string字串 資料型態(data type)

In [ ]:
str1 = '這是字串'
print(str1)

str2 = "這也是字串"
print(str2)

str3 = 'allows embedded "double" quotes'
print(str3)

這是字串
這也是字串
allows embedded "double" quotes

{2}string字串的運算

In [ ]:
#!/usr/bin/python
 
var1 = 'Hello Python!'
 
print("var1[0]: ", var1[0])
print("var1[0:13]: ", var1[0:13])

var1[0]:  H
var1[0:13]:  Hello Python!

字串的更新

In [ ]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-
 
str1 = 'Hello World!'

print("更新前的字串-> ", str1[:])
print("更新前的字串(也可以這樣寫)-> ", str1)
print("更新後的字串-> ", str1[:6] + 'Python!')

更新前的字串->  Hello World!
更新前的字串(也可以這樣寫)->  Hello World!
更新後的字串->  Hello Python!

字串的加法運算

In [ ]:
str4=str1 + str2
print(str4)

Hello World!這也是字串

更多練習

In [ ]:
a='  Hello   '
b='  Python ! '

a+b

a*2

a[1:4]

"H" in a

"H" not in a

False

字串反轉

In [ ]:
def reverse(s): 
    if len(s) == 0: 
        return s 
    else: 
        return reverse(s[1:]) + s[0] 
  
#s = "HappyHackingDay"
s = "BreakAllCTF{HappyHackingDay}"

print ("The original string  is : ",end="") 
print (s) 
  
print ("The reversed string(using recursion) is : ",end="") 
print (reverse(s))

The original string  is : BreakAllCTF{HappyHackingDay}
The reversed string(using recursion) is : }yaDgnikcaHyppaH{FTCllAkaerB

[3]Python内建的字串函数(Built-in String Methods)

In [ ]:
str1='happy python day'
str2='    Oh!   '
str4=str1 + str2
print(str4.capitalize())

Happy python day    oh!

isalpha() :檢測字串是否只由字母組成

In [ ]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-
 
str = "Python2019"
print(str.isalpha())

str = "Python"
print(str.isalpha())

False
True

isalnum():檢測字串是否由字母和數位組成。

In [ ]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-
 
str = "Python2019"
print(str.isalnum())

str = "Python"
print(str.isalnum())

str = "2019"
print(str.isalnum())

str = "Python 2019"
print(str.isalnum())

True
True
True
False

第3章

[1]if

In [ ]:
a = 33
b = 200

if b > a:
  print("b is greater than a")

b is greater than a

In [ ]:
a = 33
b = 20

if b > a:
  print("b is greater than a")

[2]if ...elsif

In [ ]:
a = 32
b = 33

if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

b is greater than a

In [ ]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [ ]:
a = 35
b = 33

if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

雙向判斷式（if⋯else）: 二選一｜一定要選的

In [ ]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

[4]if ...elsif ...else 多選一｜一定要選的

In [ ]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

[5]各種判斷條件 AND OR

In [ ]:
year= eval(input("請輸入年"))

if ((year%400==0) or (year%4==0 and year%100!=0)):
  print("{0} 是閏年".format(year))
else:
  print("{0} 不是閏年".format(year))

請輸入年2001
2001 不是閏年

歲月匆匆程式開發

In [ ]:
import time

date = time.localtime()	
print(date)

time.struct_time(tm_year=2020, tm_mon=9, tm_mday=29, tm_hour=11, tm_min=45, tm_sec=59, tm_wday=1, tm_yday=273, tm_isdst=0)

In [ ]:
import time


#date = time.localtime()		#取得目前的日期時間
#year = date[0]
#month = date[1]
#day = date[2]

year, month, day = eval(input("請輸入年月日::"))

請輸入年月日::2020,9,29

In [ ]:
day_month = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

if year%400==0 or (year%4==0 and year%100!=0):	
  day_month[1] = 29

In [ ]:
if month==1:
    print(day)
else:
    print(sum(day_month[:month-1])+day)

273

多向判斷式（if⋯elif⋯else）:收銀台程式開發

In [1]:
money = int(input("請輸入購物金額："))

if(money >= 10000):
    if(money >= 100000):
        print(money * 0.8, end=" 元\n")  #八折
    elif(money >= 50000):
        print(money * 0.85, end=" 元\n")  #八五折
    elif(money >= 30000):
        print(money * 0.9, end=" 元\n")  #九折
    else:
        print(money * 0.95, end=" 元\n")  #九五折
else:
    print(money, end=" 元\n")  #未打折

請輸入購物金額：60000
51000.0 元

變數1 = range(整數值)

In [2]:
list1=range(10)
print(list1)

print(list(list1))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

變數2 = range(起始值, 終止值)

In [ ]:
list2=range(-4,5)
print(list(list2))

變數3 = range(起始值, 終止值, 多少間隔)

In [3]:
list3=range(-4,5,2)
print(list(list3))

[-4, -2, 0, 2, 4]

In [4]:
list4=range(-4,6,2)
print(list(list4))

[-4, -2, 0, 2, 4]

[2]for 廻圈
使用for 廻圈 執行固定次數的廻圈運算(通常)

In [7]:
for n in range(5):
  print(n)

0
1
2
3
4

In [6]:
for n in range(10):
    print(n, end='@')

    #print(n, end='%%%%')

0@1@2@3@4@5@6@7@8@9@

In [5]:
mysum = 0

for n in range(5):
  mysum += n
  print(mysum)

0
1
3
6
10

In [ ]:
mysum = 0

for n in range(5):
  mysum += n

print(mysum)

In [ ]:
x = int(input("請輸入一個正整數:"))
mysum = 0

for n in range(x):
  mysum += n

print(mysum)

[程式閱讀題]執行下列程式並說明其結果

底下程式如果第五行改成  if (number % 2 = 0):答案會是甚麼??

numbers = [21, 4, 35, 1, 8, 7, 3, 6, 9]
my_numbers = []

for number in numbers:
  if (number % 2 != 0): 
    my_numbers.append(number)

print(my_numbers)

In [9]:
numbers = [21, 4, 35, 1, 8, 7, 3, 6, 9]
my_numbers = []

for number in numbers:
  if (number % 2 != 0): 
    my_numbers.append(number)

print(my_numbers)

[21, 35, 1, 7, 3, 9]

In [10]:
numbers = [21, 4, 35, 1, 8, 7, 3, 6, 9]
my_numbers = []

for number in numbers:
   if (number % 2 = 0): 
    my_numbers.append(number)

print(my_numbers)

SyntaxError: ignored

[3]While Loop

輸入::一個正整數 n
輸出::n!

當使用者輸入一個正整數 n 後，程式就會顯示
1*2*3*...*n 的乘積
請使用 while loop設計這個程式

In [12]:
total = i = 1

n = int(input("請輸入正整數 n 的值："))

while(i<=n):
    total *= i  
    i+=1      

print("%d!=%d" % (n, total))

請輸入正整數 n 的值：5
5!=120

[4]break 指令

可在廻圈執行中途強迫跳離廻圈，跳到廻圈後面的程式繼續執行。

In [ ]:
fruits = ["香蕉","蘋果","橘子","鳳梨","西瓜"]

while True:
    fruit = input("請輸入喜歡的水果(Enter 結束)：")

  #  if (fruit==""):
  #      break

    n = fruits.count(fruit) 
    if (n>0):  # 串列元素存在
        p=fruits.index(fruit)
        print("%s 在串列中的第 %d 項" %(fruit,p+1))
    else:
        print(fruit,"不在串列中!")

[5]continue 指令

在廻圈執行中途暫時停住不往下執行，而跳到廻圈的起始處繼續執行
撰寫一個可以排除數列中 5 的倍數的程式

輸入::一個正整數 n
輸出::
使用者只要輸入一個正整數，
程式會顯示由 1 到該整數的整數數列，但會將 5 的倍數排除

In [ ]:
n = int(input("請輸入正整數："))

for i in range(1, n+1):
    if i % 5 ==0:
        continue
    print(i,end=" ")

小小測驗:
[程式閱讀題] 底下程式執行的結果為何?請說明其邏輯

In [14]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-
 
for i in range(1,6):
    for j in range(1,5):
        for k in range(1,7):
            if( i != k ) and (i != j) and (j != k):
                print(i,j,k)

1 2 3
1 2 4
1 2 5
1 2 6
1 3 2
1 3 4
1 3 5
1 3 6
1 4 2
1 4 3
1 4 5
1 4 6
2 1 3
2 1 4
2 1 5
2 1 6
2 3 1
2 3 4
2 3 5
2 3 6
2 4 1
2 4 3
2 4 5
2 4 6
3 1 2
3 1 4
3 1 5
3 1 6
3 2 1
3 2 4
3 2 5
3 2 6
3 4 1
3 4 2
3 4 5
3 4 6
4 1 2
4 1 3
4 1 5
4 1 6
4 2 1
4 2 3
4 2 5
4 2 6
4 3 1
4 3 2
4 3 5
4 3 6
5 1 2
5 1 3
5 1 4
5 1 6
5 2 1
5 2 3
5 2 4
5 2 6
5 3 1
5 3 2
5 3 4
5 3 6
5 4 1
5 4 2
5 4 3
5 4 6

三位數1～6，每串數字不能有同樣的數字

底下程式執行結果為何?

In [15]:
for x in range(19):
  print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18

In [ ]:
for x in range(0,19,2):
  print(x)

In [ ]:
for x in range(20,11,-1):
  print(x)

In [ ]:
for x in range(0,19,-1):
  print(x)

In [ ]:
output = ''

for x in range(0,19,3):
  output += str(x)
  print(output, end=" ")

In [ ]:
output = ''

for x in range(0,19,3):
  print(x, end=" ")

In [ ]:
list1 = range(0,19,3)

for x in list1:
  print(x, end=" ")

[程式閱讀題] 下列程式輸入淨利潤為11111時請問輸出為何?"""

In [16]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-
 
i = int(input('淨利潤:'))

arr = [1000000,600000,400000,200000,100000,0]
rat = [0.01,0.015,0.03,0.05,0.075,0.1]
r = 0

for idx in range(0,6):
    if i>arr[idx]:
        r+=(i-arr[idx])*rat[idx]
        print((i-arr[idx])*rat[idx])
        i=arr[idx]

淨利潤:11111
1111.1000000000001

1111.1000000000001

[6]巢狀廻圈Nested Loop[自主學習主題]

In [ ]:
for i in range(1, 10, 1):
    for j in range(1, 10, 1):
        print(i, 'x', j, '=', i*j)